body, html {
  height: 100%;
  margin: 0;
}
.full{
  position: :relative;
  z-index: =1;
}

.full .ty {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url(lt5.jpg) ;
  height: 100%;
  opacity:.3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   width: 100%;
    height: 100%;
  
   
}

.text{
	font-family: Comic Sans MS;
	
	font-weight: bold;
	margin-top: 10%;
	color: #000;
	text-align: center;
}