{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Mainpage</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage.css' %}" > 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
		
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class = "full">
	<div class="bg"> </div>
	
		
		
	<form class="log_form"  action="{% url 'logout' %}" method="POST" >
		{% csrf_token %}
		<input class="logout_btn" type="submit" name="logout" value="Logout">
		
	</form>
	<h2 class="head" id="head"> Type the sentences displayed in text box </h2> 
	
	
	<form class="my_form" name="my_form">
		{% csrf_token %}

		<div class="box">
		<dl>
		
		<dt><label class="data" for="user_text"> {{data}} </label></dt>
		</br>
		<dt><textarea class="user_text" id="user_text" name="		user_text" rows="2" columns="40" onkeydown="func_down(event)" onkeyup="func_up(event)"> </textarea></dt> 
		
		<dt><input class="submit_btn"  id="myBtn" type="submit" name="submit" value="Submit" visibility="hidden" onclick="submit_func()" style="visibility:hidden;"></dt>
		</dl>
		<dt>
			<p class="inst" id="inst">Press Enter to submit </p>
 		</dt>
	
	</div>
	</form>
	

	

<script type="text/javascript">
	var i_up=0;
	var i_dn=0;
	var list_index=0;
	var sent="{{data}}";
	sent=sent.toUpperCase();
//	milli_sec=d.getMilliSeconds();

	var time_list=[];
	var input_sentence="";

	function func_up(event){

		var d=new Date();
		x= event.which;
		y=String.fromCharCode(x);
//		document.getElementById("demo").innerHTML = i ;
       
		if(y == sent.charAt(i_up)){
			t=d.getTime();
			time_list[list_index]=t;
			list_index=list_index+1;
			i_up=i_up+1;
		}
	}

	function func_down(event){

		var d=new Date();
		x= event.which;
		y=String.fromCharCode(x);
//		document.getElementById("demo").innerHTML = i ;
		if (event.keyCode === 13){
			document.getElementById("myBtn").click();
		}
       
		if(y == sent.charAt(i_dn)){
			t=d.getTime();
			time_list[list_index]=t;
			list_index=list_index+1;
			i_dn=i_dn+1;
		}
	}

	function submit_func(){

			var input_text=document.forms["my_form"]["user_text"].value;
			console.log(input_text);
			console.log("{{data}}");
			
			if (input_text.trim()=="{{data}}") 
			{

				up_data={'time_list':time_list, 'list_index':list_index, 'csrfmiddlewaretoken': "{{ csrf_token }}"};
				$.ajax({type:'POST',url:"{% url 'mainpage:update' %}", data:up_data, async:false});
				$.ajax({type:'POST',url:"{% url 'mainpage:mainpage' %}", data:{'csrfmiddlewaretoken': "{{ csrf_token }}"}, async:false});
				document.getElementById('')

			}
			else
			{
				alert("Please enter correct sentence");
				$.ajax({type:'GET', url:"{% url 'mainpage:mainpage' %}",async:false});
			}
	}

//	function fun(event){
//		x= event.which;
//		var up_data={'x':x};
//		$.post(URL,up_data,function(response){
//			if(response == 'success'){
//				alert('Yes');
//			}
//		else {alert('error');
//			}
//		});

//()==(sent.charAt(i))
	
</script>
</div>
</body>
</html>